<html>
<head>
    <title>Neuron Activation Visualizer</title>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

        table.fixed { table-layout:fixed; border-spacing: 0; }
        table.fixed td { overflow: hidden; text-align: center; color: white;}

        body{
            text-align: center;
        }
        h1{
            font-family: 'Amatic SC', cursive;
            font-weight: normal;
            color: #8ac640;
            font-size: 2.5em;
        }

    </style>

</head>
<body>
{% block body %}{% endblock %}

</body>
</html>