{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <form action="/features">
        Input text: <textarea rows="8" cols="120" name="text" id="text">{{text}}</textarea>
        <br>
        Neurons (comma delimited): <input type="text" name="neurons" id="neurons" value="{{ neurons }}">
        <br>
        <button type="submit">GO</button>
    </form>

    {% if activations %}
        <table class="fixed">
            {% for row in activations %}
            <tr>
                {% for tuple in row %}
                    <td width="10px" style="background-color:{{tuple[1]}}">{{tuple[0]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tr></table>

    {% endif %}

</div>

{% endblock %}
